<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card bg-dark" id="card">
            <div class="card-header">
                <h2>Profile</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="inputEducation" class="form-label">Education</label>
                        <input type="text" class="form-control" id="inputEducation">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="inputJob" class="form-label">Job</label>
                        <input type="text" class="form-control" id="inputJob">
                    </div>
                </div>
            </div>
            <button type="button" id="back" class="btn btn-primary">←</button>
            <div class="float-end">
                <button type="button" id="sexualContinue" class="btn btn-primary">Continue</button>
            </div>
        </div>
    </div>
</div>

<script>
    var urlRegister = '@Url.Action("Register", "Login")'
    var urlVerify = '@Url.Action("CheckSecretCode", "Login")'
    var urlSendMail = '@Url.Action("SendMail", "Login")'
</script>
<script src="~/js/profile.js"></script>