<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card bg-dark">
            <div class="card-header">
                <h2>Profile</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3">
                                <label for="selectSexualOrientation" class="form-label">Sexual orientation</label>
                                <select class="form-select" id="selectSexualOrientation">
                                    <option value="" selected></option>
                                    <option value="Male">Male</option>
                                    <option value="Famale">Famale</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="selectLookingFor" class="form-label">What you are looking for?</label>
                                <select class="form-select" multiple  id="selectLookingFor">
                                    <option value="" selected></option>
                                    <option value="Male">Male</option>
                                    <option value="Famale">Famale</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="button" id="homepage" class="btn btn-primary">←</button>
                    <div class="float-end">
                        <button type="button" id="register" class="btn btn-primary">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var urlRegister = '@Url.Action("Register", "Login")'
    var urlVerify = '@Url.Action("CheckSecretCode", "Login")'
    var urlSendMail = '@Url.Action("SendMail", "Login")'
</script>
<script src="~/js/profile.js"></script>