
.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto;
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

.mr-3{        
    background-color: #B2EDC5 !important;
    color: #000
}

.ml-3{
    background-color: #a8dadc !important;
    color: #000
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.no-overflow{
    overflow-y: hidden;
}

.down{
    position: absolute;
    bottom: 0 !important;
    width: 74%;
}

.conversation-list{
    margin-top: 3%;
}

.conversation-list:hover{
    background-color: #2a4142 !important;
}

.toast{
    bottom: 0;
    left: 0;
    position: fixed;
    color: black;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }

    .carousel-item{
        width: 30%;
    }

    .carousel-item .col-md-3{
        margin-right: 2%
    }

    img.img-fluid{         
        width: 100px !important;
        height: 100px !important;       
        object-fit: cover !important;
    }

    .carousel-inner{
        margin-left: 10%;
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}